@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    line-height: 1.25;
}

a,
a:active,
a:focus {
    text-decoration: none;
    color: #b61b20;
    outline: none;
}

/*effect-underline*/
a.effect-underline {
    position: relative;
}

a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

a.effect-underline:hover:after {
    opacity: 1;
    transform: scale(1);
}