    @import "./text";

    nav.hidden {
        transform: (translateY(-100%));
    }

    nav {
        transition: .5s;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        z-index: 900;

        & logo {
            margin: 1rem;
            cursor: pointer;

            & img {
                height: 1.75rem;
            }
        }

        & #hamburger {
            z-index: 999;
            margin: 1rem;
            font-size: 3rem;
            cursor: pointer;
            color: #b61b20;
        }


        & side-bar {
            background-color: white;
            min-width: 20vw;
            min-height: 100vh;
            position: absolute;
            top: 0;
            right: -20rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            display: flex;
            opacity: 0;

            & h3 {
                margin-top: 3rem;
                margin-bottom: 3rem;
                margin-right: 3rem;
                margin-left: 1rem;
            }

        }

    }

    #video_contain {
        height: 100vh;
        background-attachment: fixed;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGUlEQVQ4y2NgoBJwoJAedcGoC0ZdMOAuAABF0hABJ/8lyQAAAABJRU5ErkJggg==');

        // iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGUlEQVQ4y2NgoBJwoJAedcGoC0ZdMOAuAABF0hABJ/8lyQAAAABJRU5ErkJggg==
        // iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=
        // iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=

        & #video-text {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {
                font-size: 15vw;
                color: white;
            }
        }

        & #volume {
            color: #fbfbfb;
            text-shadow: .08rem .06rem rgba(0, 0, 0, 0.75);
            margin: 1rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        & #video {
            z-index: -100;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            & #player {
                opacity: 0;
                min-width: 150%;
                min-height: 150%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .section {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & .section-header {
            height: 10rem;
            line-height: 5rem;
            // border-top: 1px solid black;
            text-align: center;
            width: 75vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    work {
        background-color: white;

        & h1 {
            position: absolute;
        }

        & projects {
            left: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            & .project {
                overflow: hidden;
                margin: .5rem;
                // background-color: #b61b20;
                width: 40vw;
                height: 40vw;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                & video {
                    height: inherit;
                    max-width: unset;
                    transition: .5s;
                    opacity: .95;
                }

                & img {
                    height: inherit;
                    transition: .5s;
                    opacity: 1;
                }

                & img:hover,
                video:hover,
                img:active,
                video:active {
                    transform: scale(1.1);
                    opacity: .75;
                }
            }
        }

        & #project-selector {
            display: flex;
            flex-direction: row;
            justify-content: center;

            & a {
                font-size: 2rem;
                cursor: pointer;
                margin: 1rem;
            }
        }
    }

    .view-work {
        background-color: white;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        & a {
            font-size: 1.5rem;
        }
    }

    about {
        background-color: white;

        & #about-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 50vh;
        }

        #people {
            margin: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            & .person {
                margin: 1rem;
                text-align: center;

                & div {
                    width: 25vw;

                    & img {
                        transition: .2s;
                        border-radius: 0;
                        width: 100%;
                    }
                }

                & img:hover,
                img:active {
                    border-radius: 5%;
                    transform: scale(1.05);
                    opacity: .85;
                }

                & p {
                    margin-top: 1rem;
                }
            }
        }
    }

    .paragraph {
        padding-top: .5rem;
        padding-bottom: .5rem;
        max-width: 70vw;

        & p {
            line-height: 2rem;
            color: black;
        }
    }

    contact {
        background-color: white;

        & #contact-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 75vh;
            text-align: center;

            & h4 {
                margin-bottom: 1rem;
            }
        }

        #location {
            width: 100%;
        }
    }

    case-studies {
        // margin-top: 3rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .case-study {
            width: 70vw;
            margin-top: 3rem;
            margin-left: 15vw;
            margin-bottom: 6rem;

            & h4 {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            & video {
                cursor: pointer;
            }

            & h1 {
                margin-bottom: 3rem;
            }

            & .work-picture {
                max-width: 70vw;
                cursor: pointer;
                margin-top: 1rem;
                transition: .5s;

                img {
                    transition: .5s;
                    width: 100%;
                }

                & img:hover,
                video:hover,
                img:active,
                video:active {
                    transform: scale(1.025);
                    opacity: .85;
                }
            }

            & .work-img-grid {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;

                .work-picture {
                    max-width: 30vw;
                    margin: 1rem;
                }
            }

            @media screen and (max-width: 650px) {
                & .work-img-grid {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;

                    .work-picture {
                        max-width: 100%;
                        margin: 0rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    modal {
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & video {
            display: none;
        }

        & img {
            width: 100%;
        }

        & .material-icons {
            font-size: 3rem;
            transition: .5s;
            text-shadow: .08rem .06rem rgba(0, 0, 0, 0.75);
            z-index: 200;
            position: absolute;
            padding: 1.5rem;
            color: #fbfbfb;
            text-align: center;
            cursor: pointer;
            opacity: .75;
        }

        & #left {
            left: 0;
        }

        & #right {
            right: 0;
        }

        & .close {
            transition: .5s;
            text-shadow: .08rem .06rem rgba(0, 0, 0, 0.75);
            z-index: 200;
            position: absolute;
            bottom: 0;
            padding: 1.5rem;
            color: #fbfbfb;
            text-align: center;
            cursor: pointer;
            opacity: .75;
        }

        & .close:hover,
        .close:active,
        .material-icons:active,
        .material-icons:hover {
            transform: scale(1.5);
            opacity: 1;
        }
    }